.icon {
  height: 24px;
}
.editIcon {
  margin-left: auto;
}
.costs{
  width: 90%;
  box-shadow: 0px 1px 3px black;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 1.6%;
  padding: 3% 1.3%;
  
  margin-bottom: 1%;
  word-wrap:break-word
}
.where {
  width: 29%;
  margin-right: 2%;
}

.date {
  margin-right: 2%;
  color: darkslategrey;
  text-decoration: wavy
}

.cost{
  max-width: 20%;
  color: darkblue;
}

.done {
  color: green;
}

.editInput {
  width: 30%;
  height: 30px;
  font-size: 17px;
}
.editInput:nth-child(3){
  padding:1px 2px ;
}
.editInput:nth-child(4){
  width: 10%;
  padding:1px 2px ;
}