@media screen and (max-width: 560px) {
  h1 {
    font-size: 1.3rem;
  }
  .content {
    height: 100%;
  }
  .cost{
    max-width: 40%;
    margin: 10px 10px;
    align-items: center;
    justify-content: flex-start;
  }
  .input{
    flex-direction: column;
    align-items: flex-start;
  }
  .input button{
    margin-top: 10px;
  }
  .input_section:nth-child(2)  {
    max-width: 50%;
  }
  .input_section:nth-child(1)  {
    width: 80%;
  }
  .editInput {
    width: 360px;
  }
  .editInput:nth-child(4){
    width: 360px;
  }
  .icon{
    align-self: flex-end;
  }
  .date{
    font-size: 17px;
  }
  .cost{
    flex: 1 1 20%;
  }
}
@media screen and (max-width: 319px) {
  .editInput {
    width: 180px;
  }
  .editInput:nth-child(4){
    width: 180px;
  }
  .where{
    font-size: 17px;
    width: 50%;
  }
  .date{
    font-size: 15px;
  }
  .counter{
    font-size: 17px;
  }
  .cost{
    font-size: 20px;
  }
}