.icon {
  height: 40px;
}
.editIcon {
  margin-left: auto;
}
.costs{
  width: 90%;
  box-shadow: 0px 1px 3px black;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 1.6%;
  padding: 3% 1.3%;
  margin: 1% 0 0 10px;
  word-wrap:break-word
}
.costs:last-child {
  margin-bottom: 10%;
}
.where {
  width: 29%;
  margin-right: 2%;
}

.date {
  margin-right: 13%;
  color: darkslategrey;
}

.cost{
  max-width: 20%;
  color: darkblue;
}

.done {
  font-size: 35px;
  margin-left: auto;
  color: green;
}

.editInput {
  width: 29%;
  height: 30px;
  font-size: 20px;
}
.editInput:nth-child(3){
  max-width: 18%;
  padding:1px 2px ;
  margin-right: 5%;
}
.editInput:nth-child(4){
  width: 13%;
  padding:1px 2px ;
}