@media screen and (max-width: 800px) {
  .date{
    margin-right: 5%;
  }
}
@media screen and (max-width: 560px) {
  h1 {
    font-size: 1.5rem;
  }
  .content {
    height: 100%;
  }
  .cost{
    max-width: 40%;
    margin: 10px 10px;
    align-items: center;
    justify-content: flex-start;
  }
  .input{
    flex-direction: column;
    align-items: center;
  }
  .input button{
    margin-top: 10px;
  }
  .input_section:nth-child(2)  {
    min-width: 80%;
  }
  .input_section:nth-child(1)  {
    
    width: 80%;
  }
  .editInput {
    flex: 1 1 100%
  }
  .editInput:nth-child(3){
    max-width: 100%;
  }
  .icon{
    align-self: flex-end;
  }
  .date{
    font-size: 17px;
    flex: 1 1 10%;
    margin-right: 10%;
  }
  .editInput:nth-child(3){
    margin-right: 10%;
  }
  .cost{
    font-size: 20px;
    flex: 1 1 33%;
  }
  .total {
    font-size: 19px;
  }
}
@media screen and (max-width: 320px) {
  .editInput {
    flex: 1 1 100%
  }
  .editInput:nth-child(3){
    max-width: 100%;
  }
  .where{
    font-size: 17px;
    width: 50%;
  }
  .date{
    font-size: 15px;
    margin-right: 0%;
  }
  .editInput:nth-child(3){
      margin-right: 10%;
  }
  
  .counter{
    font-size: 17px;
  }
  .cost{
    font-size: 20px;
    flex: 0 1 40%;
  }

}