body{
  margin: 0;
}
.wrapper {
  width: 100%; height: 99vh;
}
.content {
  max-width: 900px; max-height: 99%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(52.8, 53, 57, 0.5);
  border-radius: 20px;
  box-shadow: 0px 2px 5px  black;
}
.input {
  width: 80%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: 20px;
  gap: 3%;
}
.input_section input {
  height: 30px;
  border-radius: 10px;
}
.input_section input {
  width: 100%;
  font-size: 20px;
}
.input_section input:focus {
  outline: none;
}
.input_section:nth-child(2)  {
  max-width: 15%;
}
.input_section:nth-child(1)  {
  width: 52%;
}
.input button{
  height: 35px;
  min-width: 14%;
  border-radius: 10px;
  color: black;
  background-color: green;
}
.input button:active{
  background-color: lightgreen;
}
.input button:focus{
  outline: none
}
.total {
  align-self: flex-end;
  margin: 3% 1%;
  font-size: 25px;
}
.waste {
  width: 90%; height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 24px;
}
.waste::-webkit-scrollbar {
  width: 15px;
}

