body {
  margin: 0;
}

h1 {
  font-size: 50px;
}

.wrapper {
  width: 100%; 
  height: 100vh;
}

.content {
  max-width: 90rem; 
  max-height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(72.5, 62.2, 31.1, 0.3);
  border-radius: 20px;
  box-shadow: 0px 2px 5px  black;
}

.input {
  width: 94%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: 20px;
  gap: 3%;
}

.input_section input {
  height: 50px;
  border-radius: 10px;
}

.input_section input {
  width: 100%;
  font-size: 20px;
}

.input_section input:focus {
  outline: none;
}

.input_section:nth-child(2)  {
  max-width: 15%;
}

.input_section:nth-child(1)  {
  width: 52%;
}

.input button {
  font-size: 20px;
  height: 57px;
  min-width: 14%;
  border-radius: 10px;
  color: black;
  background-color: green;
}

.input button:active {
  background-color: lightgreen;
}

.input button:focus {
  outline: none
}

.total {
  align-self: flex-end;
  margin: 3% 8% 3% 0;
  font-size: 25px;
}

.waste {
  width: 90%; 
  height: 100%;
  margin: 0 0 0 1.8%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 24px;
}

.waste::-webkit-scrollbar {
  width: 15px;
}