.wrapper {
  height: 100vh; width: 100vw;
}
h1 {
  margin: 15px 0 0 0;
  text-align: center;
}
.content {
  width: 60%;
  margin: 30px auto;
  background-color: rgba(53, 60, 65, 0.3);
  border-radius: 20px;
  box-shadow: 0px 1px 3px black;
}
.input {
  margin: 0 auto;
  width: 90%; height: 80px;
  display: flex;
  justify-content: center;
  gap: 3%;
  align-items: flex-end;
}
.input_section input{
  height: 40px;
  border-radius: 15px;
  font-size: 1.3rem;
}
.input_section:nth-child(2) input{
  width: 90%;
}
.input_section:nth-child(2) {
  width: 20%;
}
.input_section:nth-child(1) input{
  width: 100%;
}
.input_section:nth-child(1) {
  width: 60%;
}
.input button {
  height: 46px;
  border-radius: 15px;
  background-color: green;
  color: wheat;
}
.input button:active {
  background-color: darkgreen;
}
.input button:focus {
  outline: none;
}
.total {
  text-align: end;
  margin: 2% 9% 2% 0;
}
.waste {
  display: flex;
  flex-direction: column;
}
.costs {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  gap: 2px;
}
.costs div {
  width: 30%;
  font-size: 1.3rem;
}
.cost {
  text-align: end;

}
.where{
  text-align: start;
}
.icon {
  height: 24px;
}
.editInput {
  height: 20px;
}
.done {
  color: green;
  font-weight: bold;
}
.counter {
  width: 20px;
  font-size: 1.3rem;
} 